* {
    margin: 0;
}

body {
    width: 100vw;
    height: 100vh;
    background: #ffffff;
}

.rightside {
    display: flex;
    flex-direction: column;
    background: #2f3291;
    width: 8%;
    align-items: center;
    height: 100%;
}

.logo {
    padding-top: 1em;
    /* justify-content: flex-start; */
    color: #ec5b57;
    text-align: center;
}

.navbar {
    display: flex;
    flex-grow: 2;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.navbar img {
    height: 20px;
    width: 20px;
    padding-top: 20px;
}

ul li {
    list-style: none;
    margin-left: -2em;
    /* padding-top: 3em; */
    padding-left: 0;
    font-family: 'Roboto', sans-serif;
    color: #afb0ed;
    font-size: 12px;
}

ul li a {
    text-decoration: none;
    color: #afb0ed;
}

.header {
    display: flex;
    width: 92%;
    position: absolute;
    top: 0;
    margin-left: 8%;
    border-bottom: 1px solid #f2f2f2;
    height: 80px;
    align-items: center;

}

h3 {
    font-family: 'Roboto';
}

.subscription {
    padding-left: 30px;
    padding-right: 15px;
}

.subspan:hover {
    padding-bottom: 29px;
    color: #e75253;
    border-bottom: 1px solid #e75253;
}

.selling-points {
    padding-left: 15px;
    padding-right: 15px;
}

.sellspan:hover {
    padding-bottom: 29px;
    color: #e75253;
    border-bottom: 1px solid #e75253;
}

.users {
    padding-left: 15px;
    padding-right: 15px;
}

.usersspan:hover {
    padding-bottom: 29px;
    color: #e75253;
    border-bottom: 1px solid #e75253;
}

.integration {
    padding-left: 15px;
    padding-right: 15px;
}

.integspan:hover {
    padding-bottom: 29px;
    color: #e75253;
    border-bottom: 1px solid #e75253;
}

.icons {
    display: flex;
    flex-direction: column;
}

.icons img {
    padding: 10px;
    flex-direction: column;
    width: 25px;
    height: 25px;
}