* {
    margin: 0;
}

#test {
    display: grid;
    min-height: 100vh;
    grid-template-columns: 7% 20% 2fr 1fr;
    grid-template-rows: 10% 1fr 1fr 1fr;
    grid-template-areas:
        "sidebar header header header"
        "sidebar menu content content"
        "sidebar menu content content"
        "sidebar menu content content"

}

.header {
    grid-area: header;
    display: grid;
    border-bottom: 1px solid #efefef
}

.underline:hover {
    padding: 8%;
    border-bottom: 3px solid #d35552;
}

.sidebar {
    grid-area: sidebar;
    background: #2f3291;
    color: #afb0ed;
}

.headerul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    list-style-type: none;
    text-align: center;
    align-items: center;
}

.menu {
    grid-area: menu;
    background: #fff;
    border-right: 1px solid #efefef;
}