* {
    margin: 0;
}

body {
    width: 100vw;
    height: 100vh;
    background: #e1e1e1
}

.rightside {
    display: flex;
    flex-direction: column;
    background: #2f3291;
    width: 8vw;
    align-items: center;
    height: 100%;
}

.logo {
    padding-top: 1em;
    /* justify-content: flex-start; */
    color: #ec5b57;
    text-align: center;
}

.navbar {
    display: flex;
    flex-grow: 2;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.navbar img {
    height: 20px;
    width: 20px;
    padding-top: 20px;
}

ul li {
    list-style: none;
    margin-left: -2em;
    /* padding-top: 3em; */
    padding-left: 0;
    font-family: 'Roboto', sans-serif;
    color: #afb0ed;
    font-size: 12px;
}

ul li a {
    text-decoration: none;
    color: #afb0ed;
}

.header {
    display: flex;

}

.icons {
    display: flex;
    flex-direction: column;
}

.icons img {
    padding: 10px;
    flex-direction: column;
    width: 25px;
    height: 25px;
}